@import "_color";

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: "Inter", sans-serif;
}

html,
body {
  height: 100%;
  width: 100%;
}

img {
  max-width: 100%;
  height: auto;
}

.navbar, .slider-section {
  background: $Neutral-Silver;
}

.nav-container{
    padding-top: 22px;
    padding-bottom: 22px;
}

.ul{
    gap: 50px;
}

.button{
    gap: 14px;
}

.mybtn {
  cursor: pointer;
  border-radius: 4px;
  background-color: $p-green;
  color: $white;
  border: none;
}

.signup {
  width: 91px;
  height: 40px;
}

.register {
  width: 128px;
  height: 52px;
}

.slider-section{
    padding-top: 96px;
    padding-bottom: 96px;
}

.slider{
    display: flex;
    align-items: center;
}

.left {
  h1 {
    font-size: 64px;
    line-height: 76px;
    color: $Neutral-D_Grey;
  }

  span {
    color: $p-green;
  }

  p {
    line-height: 24px;
    color: $Neutral-Grey;
  }
}

.slick-dots {
    position: static !important;

}
.slick-dots li button:before {
  color: $p-green !important;
}

.slick-dots li.slick-active button:before {
  opacity: 0.75;
  color: $p-green !important;
}

.client{
    padding-top: 40px;
    padding-bottom: 40px;
}

.client-text{
    padding-bottom: 16px;
    h2{
        color: $Neutral-D_Grey;
        font-weight: 600;
        font-size: 36px;
    }
    p{
        color: $Neutral-Grey;
    }
}

.community{
  padding-bottom: 42px;
}

.community-text{
  padding-bottom: 16px;
  h2{
    width: 542px;
    height: 88px;
    font-weight: 600;
    font-size: 36px;
    line-height: 44px;
    color: $Neutral-D_Grey;
  }
  p{
    color: $Neutral-Grey;
  }
}

.card-body{
  h3{
    width: 231px;
    height: 72px;
    font-weight: 700;
    font-size: 28px;
  }
  p{
    width: 251px;
    height: 60px;
  }
}

.cards{
  box-shadow: #ABBED133 0px 2px 4px 0px; 
  width: 299px;
  height: 260px;
}

.unlock{
  padding-bottom: 48px;
}

.unlock-text{
  width: 661px;
  height: 268px;
  padding-right: 60px;
  
  h2{
    font-weight: 600;
    font-size: 36px;
    line-height: 44px;
    color: $Neutral-D_Grey;
  }
  p{
    font-size: 14px;
    font-weight: 400;
    height: 80px;
    color: $Neutral-Grey;

  }
}

.learn{
  width: 151px;
  height: 52px;
  margin-top: 32px;
}

.Achievements{
  background-color: $Neutral-Silver;
  padding-top: 64px;
  padding-bottom: 64px;
}

.Achievements-text{
  h2{
    width: 408px;
    height: 88px;
    font-weight: 600;
    font-size: 36px;
    line-height: 44px;
  }
  span{
    color: $p-green;
  }
}

.count-container{
  width: 540px;
  height: 160px;
}

.count-container1{
  padding-bottom: 40px;
  gap: 30px;
}

.count-container2{
  gap: 30px;
}

.count-items{
  display: flex;
  align-items: center;
  gap: 16px;
}

.count-text{
  width: 191px;
  height: 60px;
  h3{
    font-weight: 700;
    font-size: 28px;
  }
}

.design{
  padding-top: 48px;
  padding-bottom: 48px;
}

.design-text{
  width: 601px;
  h2{
    font-weight: 600;
    font-size: 36px;
  }
  p{
    font-weight: 400;
    font-size: 14px;
  }
}

.Customers{
  background-color: $Neutral-Silver;
}

.customer-text{
  width: 748px;
  p{
    font-weight: 500;
    font-size: 16px;
    color: $Neutral-Grey;
  }
  h4{
    font-weight: 600;
    font-size: 20px;
    color: $p-green;
  }
  span{
    font-weight: 400;
    font-size: 16px;
  }
}

