@import "_color";

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: "Inter", sans-serif;
}

html,
body {
  height: 100%;
  width: 100%;
}

img {
  max-width: 100%;
  height: auto;
}

.header, .slider-section {
  background: $Neutral-Silver;
}

.ul{
    gap: 50px;
}

.mybtn {
  cursor: pointer;
  border-radius: 4px;
  background-color: $p-green;
  color: $white;
  border: none;
}

.signup {
  width: 91px;
  height: 40px;
}

.register {
  width: 128px;
  height: 52px;
}

.left {
  h1 {
    font-size: 64px;
    line-height: 76px;
    color: $Neutral-D_Grey;
  }

  span {
    color: $p-green;
  }

  p {
    line-height: 24px;
    color: $Neutral-Grey;
  }
}

.slick-dots {
    position: static !important;
}
.slick-dots li button:before {
  color: $p-green !important;
}

.slick-dots li.slick-active button:before {
  opacity: 0.75;
  color: $p-green !important;
}
